@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

/* Black background everywhere */
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar but keep scrolling functionality */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

body {
  -ms-overflow-style: none;
}
